.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: $black;
  background-color: $light;

  @media (min-width: $desktop-width) {
    overflow-x: hidden;
  }
}
