.stats {
  padding-bottom: 20px;
  color: $white;
  background-color: $dark;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    background-color: $dark-grey;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;
  }
}

.stats__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 2fr;
  }
}

.stats__container {
  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 64px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 120px;
  }
}

.stats__header {
  padding: 28px 20px;
  color: $black;
  background-color: $white;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -186px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-bottom: -186px;
    padding: 32px 34px 30px;

    &::before {
      position: absolute;
      top: 42px;
      left: -23px;
      content: "";
      width: 23px;
      height: 23px;
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H23V23L11.5 11.5L0 0Z' fill='white'/%3E%3C/svg%3E");
    }
  }

  @media (min-width: $desktop-width) {
    top: -161px;
    grid-template-columns: auto;
    grid-template-rows: min-content 1fr min-content;
    margin-bottom: -161px;
  }
}

.stats__slogan {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    font-size: 40px;
    text-transform: none;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

.stats__intro {
  margin: 0;
  font-size: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
    margin-left: 34px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.stats__intro br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px;
}

.stats__legend--top {
  color: rgba($black, 0.3);

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.stats__legend--bottom {
  text-align: center;
  color: rgba($white, 0.3);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.stats__list {
  margin: 0;
  margin-bottom: 20px;
  background-color: $dark-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -160px;
    margin-bottom: -160px;
  }
}

.stats__item {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  @media (min-width: $tablet-width) {
    display: block;
    min-height: 161px;
    padding: 25px 34px 30px;
  }
}

.stats__item:nth-child(1) {
  background-color: rgba($white, 0.05);
}

.stats__item:nth-child(2) {
  background-color: rgba($white, 0.12);
}

.stats__item:nth-child(4) {
  background-color: rgba($white, 0.12);

  @media (min-width: $tablet-width) {
    background-color: rgba($white, 0.05);
  }
}

.stats__number {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
    font-size: 72px;
  }
}

.stats__star {
  margin-left: 5px;
  font-size: inherit;
  vertical-align: baseline;
}

.stats__description {
  margin: 0;
  line-height: 1;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: left;
  }
}

.stats__description br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
