// Colors

$white: #ffffff;
$light: #f8f5f2;
$middle-light: #e5ddd5;
$black: #000000;
$dark: #242424;
$grey: #636466;
$dark-grey: #353535;
$light-brown: #886e5b;
$brown: #826550;
$middle-brown: #6a4d38;
$dark-brown: #624530;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
